@font-face {
  font-family: Banger;
  src: url(Bangers.ttf);
}

body {
  margin: auto;
  padding: auto;
  background-image: url("wallpaper.jpg");
  background-size: cover;
  font-family: Banger;
  color: white;
}

.navBar {
  width: 100%;
  height: 40%;
  background: #693333;
  background: linear-gradient(90deg, rgba(105, 51, 51, 1) 0%, rgba(34, 92, 50, 1) 50%, rgba(23, 49, 97, 1) 100%);
  text-align: center;
  padding-top: 15px;
  margin: auto;
  border-radius: 0% 0% 50% 50%;
  margin-bottom: 50px;
  word-spacing: 20px;
}

.middle {
  width: 50%;
  height: 500px;
  text-align: center;
  background: rgba(255, 133, 133, 0.913);
  margin: auto;
  padding: 1px 40px 30px 40px;
  border-radius: 20px;
}

h1 {
  font-size: 60px;
}

h3 {
  padding-top: 50px;
  font-size: 30px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  word-spacing: 20px;
}

button {
  width: 60px;
  margin: auto;
  padding: auto;
  font-family: Banger;
}

input {
  font-family: Banger;
}

.homeButton {
  width: 160px;
  height: 90px;
  font-size: 30px;

}

.box {
  background: rgba(78, 255, 122, 0.756);
  width: 49%;
  height: 300px;
  padding: 1px 0px 50px 0px;
  border-radius: 10px;
  float: left;
  border: 2px solid rgb(155, 0, 0)
}

.boxes {
  padding: 20px;
}